.grid {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-gap: 5px;
  justify-content: center;
}
#title {
  text-align: center;
  margin: 15px;
}
.box {
  height: 100px;
  width: 100px;
  border: 1px solid grey;
  cursor: pointer;
}

.blackBackground {
  background-color: black;
}
